:root {
    color: #fff;
}

html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #333;
    div {
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        margin: 5px;
        overflow-y: scroll;
        border-radius: 5px;
    }
}

//Base

button,
input {
    background-color: #151515;
    color: #fff;
    border: none;
    margin: 1px;
}
input:focus{
    outline: none;
}

// Tabs

.settings {
    background-color: #222;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.monitor {
    flex: 200%;
    display: flex;
    flex-direction: column;
    .monitor-output {
        height: 100%;
        padding: 0;
        background-color: #222;
        p {
            margin: 3px;
        }
    }
    .monitor-prefrences {
        input {
            display: inline;
        }
        padding: 0;
        width: auto;
    }
}

.devices {
    background-color: #222;
    p {
        margin: 1px;
    }
    ul {
        list-style: none;
        height: 100%;
        overflow-y: scroll;
        li {
            color: #aaa;
            cursor: pointer;
            user-select: none;
        }
        li:hover {
            color: #fff;
        }
    }
}

// Srollbars

::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #181818;
    border-radius: 5px;
}
